.pokemon-profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.pokemon-profile__header {
    text-align: center;
}

.pokemon-profile__description {
    text-align: center;
    width: 90%;
    margin: 0;
    padding: 0;
}

.pokemon__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 475px;
    width: 100%;
    margin: 40px 0;
    box-shadow: rgba(100, 100, 100, 0.3) 10px 10px 10px 10px;
    border-radius: 20px;
}

.pokemon__image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokemon__num {
    width: 18%;
    font-family: Pokemon Solid, Georgia, sans-serif;
    font-size: 26px;
    top: 30px;
    left: 30px;
    position: absolute;
    border: 3px solid black;
    border-radius: 50%;
}

.pokemon__num span {
    display: flex;
    justify-content: center;
}

.pokemon__info {
    margin: 0 auto;
    justify-items: center;
    padding: 0 20px;
    width: 80%;
    height: 20%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
}

.pokemon__ceil-info {
    text-align: center;
    width: 100%;
    border: 1px solid #e0dede;
    border-collapse: collapse;
}

.pokemon__progress-info {
    width: 90%;
}

.pokemon__abilities {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-bottom: 20px;
}

.pokemon__abilities-list {
    margin: 0 auto 20px auto;
}

@media screen and (max-width: 400px) {
    .pokemon__num {
        font-size: 20px;
    }
}




