.header {
    display: flex;
    align-items: center;
    max-width: 1920px;
    width: 100%;
    height: 80px;
    background-color: #672eca;
}

.header__logo {
    font-family: Pokemon Solid;
    font-size: 25px;
    color: white;
    margin-left: 50px;
}

.header__pocketball {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}
